* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
h1 {
    margin: 30px 0 60px 0;
    text-align: center;
    font-size: 175%;
}

.master {
    width: 99%;
    margin: auto;
    text-align: center;
}

.master section {
    margin: 0 2.5px 0 2.5px;
    display: inline-block;
    width: 32%;
    border: 1px solid black;
}

.c {
   
    background-color: rgb(119, 231, 225);
}

.b {
    background-color: rgb(156, 248, 128);
}

.s {
   
    background-color: rgb(133, 135, 230);
}

.c h2 {
    background-color: rgb(230, 133, 154);
}

.b h2 {
    background-color: rgb(241, 122, 74);    
}

.s h2 {
    background-color: rgb(211, 112, 236);     
}

section h2 {
    font-size: 125%;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px; 
}

p{
    padding: 10px;
    text-align: justify;
    clear: right;
}


/*                         TABLET                        */
@media screen and (max-width:991px) {
    .master .s {
        margin: 20px auto;
        display: block;
        width: 94.2%;
    }

    .master .c  {
        width: 46.6%;
    }

    .master .b  {
        width: 46.6%;
    }     
}

/* Phone */

@media screen and (max-width:767px) {
.master .b {
    display: block;
    margin: 20px auto;
    width: 94.2%;
}

.master .c  {
    display: block;
    margin: 20px auto;
    width: 94.2%;
}
}